<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Travis Miller - travis@travismiller.com</title>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/brands.js" integrity="sha384-6jhVhr5a+Z1nLr9h+fd7ocMEo847wnGFelCHddaOOACUeZNoQwFXTxh4ysXVam8u" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js" integrity="sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div>
    <div>
      <div class="email">
        <a href="mailto:travis@travismiller.com">travis@travismiller.com</a>
      </div>
      <div class="social">
        <a href="https://github.com/travismiller"><i class="fab fa-github"></i></a>
        <a href="https://gitlab.com/travismiller"><i class="fab fa-gitlab"></i></a>
        <a href="https://hub.docker.com/u/puckbag/"><i class="fab fa-docker"></i></a>
        <a href="https://twitter.com/puckbag/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/puckbag"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</body>
</html>
