{% set data = load_data(path="data/work.toml") %}

<div class="works">
  <h2>{{ group }}</h2>

  {% if body %}
    {{ body | markdown }}
  {% endif %}

  {% if data[group] %}
    {% for work in data[group] %}
      <figure class="work">
        <img src="{{ work.image }}">
        <figcaption>
          <div class="info">
            <h3>{{ work.title | safe }}</h3>
            <p>{{ work.description | markdown }}</p>
          </div>
          <p class="links">
            <a href="{{ work.url }}" rel="nofollow noopener noreferrer" target="_blank">{{ work.domain }}</a>
          </p>
        </figcaption>
      </figure>
    {% endfor %}
  {% endif %}
</div>
