{% extends "layout.html" %}

{% block main %}
  <div class="home">
    <div>
      <div class="email">
        <a href="mailto:travis@travismiller.com">travis@travismiller.com</a>
      </div>

      {% include "social.html" %}

      <div class="links">
        <div class="link"><a href="/journal/">Journal</a></div>
        <div class="link"><a href="/work/">Work</a></div>
      </div>
    </div>
  </div>
{% endblock main %}

{% block header %}
{% endblock header %}

{% block footer %}
{% endblock footer %}
