{%- import "macros.html" as macros -%}
<!doctype html>
<html class="h-full bg-black">
<head>
  <meta charset="utf-8">
{%- if page.title %}
  <title>{{ page.title }} | {{ config.title }}</title>
{%- elif section.title %}
  <title>{{ section.title }} | {{ config.title }}</title>
{%- else %}
  <title>Travis Miller - travis@travismiller.com</title>
{%- endif %}

  <link href="/fonts/font.css?{{ now(timestamp=true) }}" rel="stylesheet" type="text/css">
  <link href="/css/main.css?{{ now(timestamp=true) }}" rel="stylesheet" type="text/css">
  <script defer src="/js/main.js?{{ now(timestamp=true) }}"></script>
</head>
<body class="{% if not current_path %}index {% endif %}; flex flex-col h-full bg-white mx-auto max-w-xl text-black leading-normal" data-path="{{ current_path }}">
  {% block header %}
    {% include "header.html" %}
  {% endblock header %}

  <div id="main" class="flex-1 container p-8 bg-white">
    {% block main %}
    {% endblock main %}
  </div>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock footer %}
</body>
</html>
