{%- import "macros.html" as macros -%}
<!doctype html>
<html class="h-full bg-black">
<head>
  <meta charset="utf-8">
{%- if page.title %}
  <title>{{ page.title }} | {{ config.title }}</title>
{%- elif section.title %}
  <title>{{ section.title }} | {{ config.title }}</title>
{%- else %}
  <title>Travis Miller - travis@travismiller.com</title>
{%- endif %}

{% include "partials/gtag.html" %}
  <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&amp;subset=latin-ext" rel="stylesheet" type="text/css">
  <link href="/css/app.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script defer src="/js/app.js"></script>
</head>
<body class="flex flex-col h-full bg-white mx-auto max-w-xl text-black leading-normal" data-path="{{ current_path }}">
  {% block header %}
    {% include "header.html" %}
  {% endblock header %}

  <div id="main" class="flex-1 container p-8 bg-white">
    {% block main %}
    {% endblock main %}
  </div>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock footer %}
</body>
</html>
