{% extends "layout.html" %}

{% block main %}
<article class="post">
  <header>
    {{ macros::page_cover(page=page) }}

    <h1 class="title">
      {{ page.title }}
    </h1>

    {{ macros::page_meta(page=page) }}
  </header>

  <div class="leading-normal">
    {{ page.content | safe }}
  </div>

  {% set page_previous = page.earlier | default(value=page.heavier) %}
  {% set page_next = page.later | default(value=page.lighter) %}
  {% if page_previous or page_next %}
    <div class="flex mt-8 border-t">
      {% if page_previous %}
        <div class="flex-1 mx-2">
          {{ macros::page_card_vertical(page=page_previous) }}
        </div>
      {% endif %}
      {% if page_next %}
        <div class="flex-1 mx-2">
          {{ macros::page_card_vertical(page=page_next) }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</article>
{% endblock main %}
