{% extends "layout.html" %}

{% block main %}
<article class="post">
  <header>
    {{ macros::page_cover(page=page) }}

    <h1 class="title">
      {{ page.title }}
    </h1>

    {{ macros::page_meta(page=page) }}
  </header>

  <div class="leading-normal">
    {{ page.content | safe }}
  </div>

  {% if page.previous or page.next %}
    <div class="flex mt-8 border-t">
      {% if page.previous %}
        <div class="flex-1 mx-2">
          {{ macros::page_card_vertical(page=page.previous) }}
        </div>
      {% endif %}
      {% if page.next %}
        <div class="flex-1 mx-2">
          {{ macros::page_card_vertical(page=page.next) }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</article>
{% endblock main %}
