<div class="social">
  <a href="https://gitlab.com/travismiller"><i class="fab fa-gitlab"></i></a>
  <a href="https://github.com/travismiller"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/travismillerdev"><i class="fab fa-linkedin"></i></a>
</div>
